.pulldown_display[name=accounts] {
    .notLoggedIn {
        div {
            position:absolute;
            top:50%;
            transform:translateY(-50%);
            width:100%;
            text-align:center;

            @media screen and (max-width:500px) {
                /* lazy */
                transform:scale(1.15) translateY(-50%);
            }

            h1 {
                font-weight:600;
                font-size:24px;
            }

            .flavor {
                font-size:14px;
                color:#999999;
                margin: 0 0 10px 0;
            }

            a {
                text-decoration: none;
                color:#999999;
                font-size:14px;

                &::after {
                    content:" ➜";
                    font-size:0px;
                    opacity: 0;
                    transition-duration:250ms;
                }

                &:hover {
                    &::after {
                        font-size:13px;
                        opacity: 1;
                        transition-duration:250ms;
                    }
                }
            }
        }

    }
}