.pulldown_display[name=files] {
    .notLoggedIn {
        position:absolute;
        top:100%;
        transform:translateY(-100%);
        width:100%;
        text-align:center;
        background-color:#202020;

        .flavor {
            font-size:16px;
            color:#999999;
            margin: 0 0 10px 0;
        }

        button {
            background-color: #232323;
            color:#999999;
            font-size:14px;
            border:1px solid #999999;
            padding:2px 10px 2px 10px;
            cursor:pointer;

            &:hover {
                background-color:#333333;
            }
        }
    }
}