.pulldown_display[name=files] {
    .notLoggedIn {
        position:absolute;
        top:100%;
        transform:translateY(-100%);
        width:100%;
        text-align:center;
        background-color:#202020;

        .flavor {
            font-size:16px;
            color:#999999;
            margin: 0 0 10px 0;
        }

        button {
            --col: #999999;

            background-color: #232323;
            color:var(--col);
            font-size:14px;
            border:1px solid var(--col);
            padding:2px 20px 2px 20px;
            cursor:pointer;
            transition-duration:250ms;

            &:hover {
                background-color:#333333;
                transition-duration:250ms;
                --col:#BBBBBB;
            }
        }
    }
}