.pulldown_display[data-name=help] {

    overflow-y:auto;

    .faqGroup {
        padding:6px 10px 4px 10px;

        h2 {
            font-weight: 400;
            color:#DDDDDD;
            font-size:16px;
            margin:0 0 0 0;
        }

        p {
            color:#999999;
            font-size:16px;
            margin:0 0 0 0;
        }
    }

}