#uploadWindow {
    color: #FFFFFF
}

body {
    background-color:#DDDDDD;
}

#appContent {
    background: darkgray;
    @media screen and (max-width:500px) {
        background:white;
    }
}

#uploadWindow {
    background: white;

    color:black;

    h1, p, a {
        margin: 0px;
        font-size: 14px;
    }

    a {
        color:rgb(153, 153, 153);
    }

    h1 {
        font-weight:600;
        font-size: 25px;
        text-align:center;

        @media screen and (max-width:500px) {
            font-size: 30px;
        }
    }

    & > p:nth-of-type(1) {
        text-align:center;
        font-style: italic;
        font-weight:600;
        font-size: 16px;
        color:black !important;
        @media screen and (max-width:500px) {
            font-size: 21px;
        }
    }

    button {
        cursor:pointer;
        color:black;
        border:none;
        outline:none;
        padding:5px;
        background: #AAAAAA;

        @media screen and (max-width: 500px) {
            font-size:16px;
            padding:10px;
        }

        &:hover {
            outline: 1px solid #333333;
            color: black;
            background-color:#AAAAAA;
        }
    }

    & > button:nth-last-of-type(1) {
        background-color:#66AAFF;
        &:hover {
            background-color:#66AAFF;
        }
    }

    #add_new_files {
        background-color: #AAAAAA66;
        border:1px solid #AAAAAA;

        #file_add_btns {
            button, input[type=text] {
                transition-duration:0s;
                
                @media screen and (max-width: 500px) {
                    font-size:16px;
                    padding:10px;
                }
            }

            input[type=text] {
                font-family: "Fira Code", monospace;
                background-color:#AAAAAA;
                color:black;
            }

            button {
                cursor:pointer;
                background-color:#AAAAAA;
                color: black;

                &:hover {
                    flex-basis: 50%;
                    transition-duration:0s;
                    background-color:#AAAAAA;
                    color: black;
                    outline: 1px solid #333333;
                }
            }

            .fileUpload {
                background-color:#AAAAAA;
                transition-duration:250ms;

                &:hover {
                    transition-duration:0s;
                    background-color:#AAAAAA;
                }
            }
        }
    }

    .file {
        background-color: #AAAAAA66;
        border: 1px solid #AAAAAA;

        input[type=text] {
            font-family: "Fira Code", monospace;
            background-color:#AAAAAA;
            color:black;
        }
    }
    
}

* {
    /* nice scrollbars aren't needed on mobile so */
    @media screen and (min-width:500px) {
        
        &::-webkit-scrollbar {
            width:5px;
        }

        &::-webkit-scrollbar-track {
            background-color:#AAAAAA;
        }

        &::-webkit-scrollbar-thumb {
            background-color:#DDDDDD;

            &:hover {
                background-color:#FFFFFF;
            }
        }
    
    }
}

#topbar {
    background-color: #DDDDDD;
}

.error {
    .code {
        color: black;
    }
}