/* 
    could probably replace this with fonts served directly
    from the server but it's fine for now 
*/

@import url("/static/assets/fonts/inconsolata.css");
@import url("/static/assets/fonts/source_sans.css");
@import url("/static/assets/fonts/fira_code.css");

$FallbackFonts: 
    -apple-system, 
    system-ui, 
    BlinkMacSystemFont, 
    "Segoe UI", 
    Roboto,
    sans-serif;

%normal {
    font-family: "Source Sans Pro", $FallbackFonts
}

/* 
    everything that's not a span
    and/or has the normal class
    (it's just in case)
*/

*:not(span), .normal { @extend %normal; }

/*
    for code blocks / terminal
*/

.monospace {
    font-family: "Fira Code", monospace
}

/*
    colors
*/

:root {
    // Crust (topbar)
    --crust: rgb(30, 33, 36); // topbar color
    --crust-txt: #555555; // buttons
    --crust-txt-active: slategrey; // hover

    // Background
    --background: linear-gradient(#333,#252525); // Used for desktop.
    --background-readable: linear-gradient(#303030, #252525); // Used for mobile, where the uploader is backed a gradient.

    // Panel (pulldown, upload panel)
    --panel-active: #252525; // Color to show on option hover
    --panel: #222222;
    --subpanel: #191919;
    
    // Panel banners
    --panel-banner-error: #663333;
    --panel-banner-warning: #554C33;
    --panel-banner-success: #335544;
    --panel-banner-info: #334466;

    // Text
    --text-visible: #FFF; // Use for best possible visibility. Used in button interactives on hover. 
    --text: #DDD;
    --subtext: #999;
}

/*
    then other stuff
*/

body {
    background-color: var(--crust); // this is here so that
                                         // pulling down to refresh
                                         // on mobile looks good
}

/*
    scrollbars
*/

* {
    /* nice scrollbars aren't needed on mobile so */
    @media screen and (min-width:500px) {
        
        &::-webkit-scrollbar {
            width:5px;
        }

        &::-webkit-scrollbar-track {
            background-color:var(--panel);
        }

        &::-webkit-scrollbar-thumb {
            background-color:#333;

            &:hover {
                background-color:#373737;
            }
        }
    
    }
}