@use "base";
@use "app/topbar";
@use "app/pulldown";
@use "app/uploads";

#appContent {
    position:absolute;
    left:0px;
    top:40px;
    width:100%;
    height: calc( 100% - 40px );
    background: var(--background);

    @media screen and (max-width:500px) {
        background: var(--background-readable);
    }
}

.number {
    font-family: "Inconsolata", monospace;
}