#uploadWindow {
    #add_new_files {
        background-color:#191919;
        border: 1px solid gray;
        padding: 0px 0px 10px 0px;

        p {
            font-family: "Fira Code", monospace;
            text-align: left;
            margin: 0px 0px 0px 10px;
            font-size: 30px;

            span {
                position:relative;

                &._add_files_txt {
                    font-size:16px;
                    top:-4px;
                    left:10px;

                    @media screen and (max-width:500px) {
                        font-size:20px;
                        top:-6px;
                        left:10px;
                    }
                }
            }

            @media screen and (max-width:500px) {
                font-size: 40px;

                span._add_files_txt {
                    font-size:20px;
                    top:-6px;
                    left:10px;
                }
            }
        }

        #file_add_btns {
            width:calc( 100% - 20px );
            margin:auto;
            position:relative;
            display:flex;
            flex-direction:row;
            column-gap:10px;

            button, input[type=text] {
                background-color:#333333;
                color:#DDDDDD;
                border:none;
                outline:none;
                padding:5px;
                
                flex-basis:50%;
                flex-grow:1;
                transition-duration:250ms;

                @media screen and (max-width: 500px) {
                    font-size:16px;
                    padding:10px;
                }
            }

            button {
                cursor:pointer;

                &:hover {
                    @media screen and (min-width: 500px) {
                        transition-duration:250ms;
                        flex-basis: 60%;
                    }
                    background-color:#393939;
                    color: #ffffff;
                }
            }

            .fileUpload {
                width:100%;
                height:100px;
                position:relative;

                background-color:#262626;
                transition-duration:250ms;

                input[type=file] {
                    opacity: 0;
                    position:absolute;
                    left:0px;
                    top:0px;
                    width:100%;
                    height:100%;
                    cursor:pointer;
                }

                p {
                    position:absolute;
                    top:50%;
                    transform:translateY(-50%);
                    font-size:12px;
                    width:100%;
                    text-align:center;
                    padding:0px;
                    margin: 0px;
                }

                &:hover {
                    transition-duration:250ms;
                    background-color:#292929;
                }
            }
        }
    }
}